#subcss{
    margin-top: -10%;
    margin-bottom: 4%;
}

#aboutcss{
    margin-top: -10%;
}

#projectcss{
    margin-top: -10%;
}

#servicecss{
    margin-top: -8%;
}

.loginfromdesign{
    border: 2px solid black;
    margin-bottom: 3%;
    padding: 2%;
}

.loginbtndesign{
    font-size: 25px;
    padding-right: 2%;
    padding-left: 2%;
}