#contactstyle{
    background-color: black;
    color: white;
    margin-top: 2%;
    margin-bottom: -50px;
}

#istyel{
    mAX-width: 35px;
    max-height: 35px;
    /* color: rgb(0, 217, 255); */
    background-color: white;
}